@font-face {
  font-family: PopinsRegular;
  src: url("../src/assets/fonts/Poppins-Regular.ttf"), format("ttf"),
}

@font-face {
  font-family: PopinsRegular;
  src: url("../src/assets/fonts/Poppins-Medium.ttf"), format("ttf"),
}

@import "tailwindcss";


@theme {
  --font-popins-regular: PopinsRegular, "sans-serif"
}

@theme {
  --font-popins-medium: PopinsMedium, "sans-serif"
}

@theme {
  --color-custom-red: hsl(0, 78%, 62%);
  --color-custom-cyan: hsl(180, 62%, 55%);
  --color-custom-orange: hsl(34, 97%, 64%);
  --color-custom-blue: hsl(212, 86%, 64%);
  --color-custom-gray-400: hsl(212, 6%, 44%);
  --color-custom-gray-500: hsl(234, 12%, 34%);
  --color-custom-white: hsl(0, 0%, 100%);
}